<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Submissions
      </ion-title>
    </ion-toolbar>
    
  </ion-header>

  <ion-card *ngFor="let item of items" style="--background: #2E2E2E;">
    <ion-card-header>
      <ion-card-title>{{item.subject}}</ion-card-title>
      <ion-card-subtitle>Due Date - {{item.due}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h2 class="lab-title">{{item.labTitle}}</h2>
      <p class="lab-desc">Lab No.: {{item.labNo}}</p>

      <div class="status">
        <ion-label id="status-label">Status : </ion-label>
        <ion-label id="status-option" color="{{item.statusColor}}">{{item.statusOption}}</ion-label>
      </div>
    </ion-card-content>

    <ion-button fill="clear" *ngIf="item.canEditSubmission === true">Edit Submission</ion-button>
    <ion-button fill="clear" *ngIf="item.canAddSubmission === true">Add Submission</ion-button>
  </ion-card>
  
</ion-content>
