<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Kavach" src="https://kavach.mic.gov.in/img/kavach-logo-white.png" />
    <ion-card-header>
      <ion-card-title>KAVACH 2023</ion-card-title>
      <ion-card-subtitle>Recent Event</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Advancing India’s cyber-preparedness, KAVACH-2023, a national level hackathon was launched today to identify innovative ideas and technological solutions for addressing the cyber security and cybercrime challenges of the 21st century.
    </ion-card-content>
  </ion-card>

  <div class="container">

    <h2>Important Links</h2>
    
    <ion-item button detail lines="full">
      <ion-label>Exam Schedule</ion-label>
    </ion-item>
    
    <ion-item button detail lines="full">
      <ion-label>Recent hackathons</ion-label>
    </ion-item>
    
    <ion-item button detail lines="full">
      <ion-label>Time Table</ion-label>
    </ion-item>
   
  </div>

</ion-content>
