<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="card-header">
      <img alt="Silhouette of mountains" src="../../assets/icon/Viraj_Dhumal_Cropped.jpg" />
      <ion-card-header>
        <ion-card-title>Viraj Dhumal</ion-card-title>
        <ion-card-subtitle>FY MCA</ion-card-subtitle>
      </ion-card-header>
    </div>
  
    <ion-card-content>
      Hello, I am Viraj Dhumal. I'm 2 star coder on codechef and I aim to become a full stack development.
    </ion-card-content>

    <ion-button id="edit-profile">Edit Profile</ion-button>
    <ion-button fill="clear">Saved Notes</ion-button>
  </ion-card>



  <ion-button id="logout-btn" color="danger">Logout</ion-button>
</ion-content>
